{% extends 'product/main.html' %}

{% block common_layout %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
   <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
    {% endfor %}
</ul>
{% endif %}

<center>Variant List:</center>

<div class="container">
  <div class="card">
  <div class="card-body">
    <center><a class="btn btn-primary" href="{% url 'variant'  %}"
                    >Add Variant</a>
    </center>                
  </div>
</div>  
  <div class="card">
  <div class="card-body">
        <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Brand Name</th>
        
        <th scope="col">Active</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>-
        </tr>
    </thead>
    <tbody>
    {% for variant in variantlist %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{% if variant.variant_name %}{{ variant.variant_name }} {% endif %}</td>
        
        <td>{% if variant.variant_status == True %}Active {% else %} - {% endif %}</td>
        <td><a class="btn btn-info" href="{% url 'variantupdate' variant.id %}"
                    >Edit</a
                ></td>
               
        <td><a class="btn btn-danger" href="{% url 'variantdelete' variant.id %}"
                    >Delete</a
                ></td>         
        </tr>
        {% endfor %}  
        
    </tbody>
    </table>
  </div>
</div>


  




  
</div>

{% endblock common_layout %}