{% extends 'product/main.html' %} 
{% block layout_title %} Supplier Entry {% endblock layout_title %}
{% block common_layout %}
{% comment %} <center>Brand Entry Page:</center> {% endcomment %}

<div class="container">

  <div class="card">
  <div class="card-body">
   <form action ="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}


    <label>&nbsp;</label><input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</div>
</div>
</div>


{% endblock common_layout %}