{% load static %}
<script src="{% static 'front_assets/plugins/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'front_assets/dist/js/popper.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/card/dist/card.js' %}"></script>
<script src="{% static 'front_assets/dist/js/hideShowPassword.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/Magnific-Popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/elevatezoom/jquery.elevateZoom-3.0.8.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/theia-sticky-sidebar/ResizeSensor.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/feather/feather.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/OwlCarousel2/owl.carousel.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/raty/lib/jquery.raty.js' %}"></script>
<script src="{% static 'front_assets/plugins/PhotoSwipe/dist/photoswipe.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/PhotoSwipe/dist/photoswipe-ui-default.js' %}"></script>
<script src="{% static 'front_assets/plugins/ion.rangeSlider/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'front_assets/plugins/jquery.countdown/jquery.countdown.min.js' %}"></script>
<script src="{% static 'front_assets/dist/js/custom.js' %}"></script>
<script src="{% static 'front_assets/dist/js/cart.js' %}"></script>
