{% load static %}
<footer class="main-footer footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 py-3 py-md-5">
                <div class="footer-about">
                    <div class="footer-logo mb-3">
                        <a href="#"><img src="{% static 'front_assets/img/logo-white.png' %}" alt=""
                                class="img-fluid"></a>
                    </div>
                    <p>Phone: 00 33 169 7720</p>
                    <ul class="list-unstyled text-sm">
                        <li>Monday-Friday: <span class="font-weight-500">9.00</span> am - <span
                                class="font-weight-500">8.00</span> pm</li>
                        <li>Saturday: <span class="font-weight-500">10.00</span> am - <span
                                class="font-weight-500">6.00</span> pm</li>
                    </ul>
                    <p>Bangladesh Office
                        98 Green Road, Farmgate, Dhaka- 1215 </p>
                    <a class="email-link d-inline font-weight-500" href="#"><i data-feather="mail"
                            class="mr-2"></i><span>support@bdtask.com</span></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 py-3 py-md-5">
                <h3 class="link-title fs-18 mb-3 font-weight-600 position-relative">About us</h3>
                <ul class="footer-link list-unstyled menu mb-0">
                    <li class="mb-2"><a href="#" class="link d-block">About Bdtask</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Careers</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Explore</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Newsroom</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Investor Relations</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Responsible Recycling</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 py-3 py-md-5">
                <h3 class="link-title fs-18 mb-3 font-weight-600 position-relative">Connect with us</h3>
                <ul class="list-unstyled social-icon">
                    <li><a href="#">
                            <div class="icon-wrap fs-19 d-inline-block bg-primary text-white text-center inst"><i
                                    class="fab fa-instagram"></i></div>Instagram
                        </a></li>
                    <li><a href="#">
                            <div class="icon-wrap fs-19 d-inline-block bg-primary text-white text-center twi"><i
                                    class="fab fa-twitter"></i></div>Twitter
                        </a></li>
                    <li><a href="#">
                            <div class="icon-wrap fs-19 d-inline-block bg-primary text-white text-center dri"><i
                                    class="fab fa-dribbble"></i></div>Dribbble
                        </a></li>
                    <li><a href="#">
                            <div class="icon-wrap fs-19 d-inline-block bg-primary text-white text-center fb"><i
                                    class="fab fa-facebook-f"></i></div>Facebook
                        </a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 py-3 py-md-5">
                <h3 class="link-title fs-18 mb-3 font-weight-600 position-relative">Customer care</h3>
                <ul class="footer-link list-unstyled menu mb-0">
                    <li class="mb-2"><a href="#" class="link d-block">My Account</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Order Tracking</a></li>
                    <li class="mb-2"><a href="#" class="link d-block"> Wish List</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Customer Service</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Returns / Exchange</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">FAQs</a></li>
                    <li class="mb-2"><a href="#" class="link d-block">Product Support</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 py-3 py-md-5">
                <h3 class="link-title fs-18 mb-3 font-weight-600 position-relative">Download the app</h3>
                <a class="market-button apple-button d-inline-block mr-2 mb-2 border rounded bg-gray" href="#"><span
                        class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a>
                <a class="market-button google-button d-inline-block mr-2 mb-2 border rounded bg-gray" href="#"><span
                        class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a>
                <a class="market-button windows-button d-inline-block mr-2 mb-2 border rounded bg-gray" href="#"><span
                        class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
            </div>
        </div>
    </div>
</footer>
<!--Sub footer-->
<div class="sub-footer sub-footer-dark py-3 border-top">
    <div class="container">
        <div class="row justify-content-end align-items-center">
            <div class="col-md-6 text-center text-md-left">
                <div class="copy">© 2019 Bdtask - All Rights Reserved</div>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled text-center text-md-right mb-0">
                    <li class="list-inline-item"><a href="#" class="text-dark">Privacy</a></li>
                    <li class="list-inline-item"><a href="#" class="text-dark">Sitemap</a></li>
                    <li class="list-inline-item"><a href="#" class="text-dark">Cookies</a></li>
                    <li class="list-inline-item"><a href="#" class="text-dark">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>