<div class="newsletter bg-gray border-top py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-auto mb-4 mb-lg-0">
                        <h5 class="newsletter-title fs-21 mb-0"><i data-feather="send" class="mr-2"></i>Sign up to
                            Newsletter</h5>
                    </div>
                    <div class="col mb-4 mb-lg-0">
                        <span class="newsletter-marketing-text">...and receive <strong>$20 coupon for first
                                shopping</strong></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Example@your_email.com">
                        <div class="input-group-append ml-2">
                            <button class="btn btn-secondary fs-14 text-capitalize" type="button">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>